<div>
    <div class="my-3">
        <h5 class="text-warning ms-3 mb-2">Sort</h5>
        <select [(ngModel)]="selectedSort" (change)="onSortSelected($event)" class="form-select">
            <option *ngFor="let option of sortOptions" [value]="option.value">
            {{option.name}}
          </option>
        </select>
    </div>
    <div class="mb-3">
        <h5 class="text-warning ms-3 mb-2">Brands</h5>
        <ul class="list-group filter-item">
            <li 
                *ngFor="let brand of brands" 
                (click)="onBrandSelected(brand.productBrandId)" 
                class="list-group-item list-group-item-action"
                [class.active]="brand.productBrandId === brandIdSelected"
                [value]="brand.productBrandId">
                {{brand.name}}
            </li>
        </ul>
    </div>
    <div class="mb-3">
        <h5 class="text-warning ms-3 mb-2">Types</h5>
        <ul class="list-group filter-item">
            <li 
            *ngFor="let type of types" 
            (click)="onTypeSelected(type.productTypeId)" 
            class="list-group-item list-group-item-action"
            [class.active]="type.productTypeId === typeIdSelected"
            [value]="type.productTypeId">
                {{type.name}}
            </li>
        </ul>
    </div>
</div>
    