<div *ngIf="!(basket$ | async)" class="d-flex flex-column justify-content-center align-items-center gap-3 empty-basket-container">
    <img src="/assets/images/empty-basket.png" alt="empty-basket" style="width: 10rem;">
    <h1>There are no items in your basket</h1>
    <app-button routerLink="/shop" className="btn btn-primary" label="Add items to my basket"></app-button>
</div>

<div *ngIf="(basket$ | async) as basket" class="container">
    <div *ngIf="basket.basketItems.length > 0">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 py-3 mb-1">
                        <app-basket-summary
                            (increment)="incrementBasketItemQuantity($event)"
                            (decrement)="decrementBasketItemQuantity($event)"
                            (remove)="removeBasketItem($event)">
                        </app-basket-summary>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="(basketTotals$ | async) as basketTotals" class="col-md-6 offset-6">
                        <app-order-summary
                            [subtotal]="basketTotals.subtotal.toString()"
                            [shippingPrice]="basketTotals.shipping.toString()"
                            [total]="basketTotals.total.toString()"
                        ></app-order-summary>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 w-100">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>