<div class="form-label-group">
    <label for="{{label}}">{{label}}</label>
    <div class="position-relative">
        <input #input [disabled]="isDisabled" [ngClass]="(controlDir.control && controlDir.control.touched) 
                ? !controlDir.control.valid 
                ? 'is-invalid' 
                : 'is-valid' 
                : null" [type]="type" (input)="onChange(input.value)" (blur)="onTouched(input.value)" id="{{label}}"
            class="form-control" placeholder="{{placeHolder}}" autocomplete="off" >
    
        <!-- Loading icon -->
        <div class="fa fa-spinner fa-spin loader" *ngIf="controlDir && controlDir.control && controlDir.control.errors?.['pending']"></div>
    </div>

    <!-- Synchornous Error Messages -->
    <div *ngIf="(
        controlDir.control &&
        !controlDir.control.valid &&
        controlDir.control.touched
        )" class="invalid-feedback mb-2">

        <!-- Required control check -->
        <span *ngIf="controlDir.control.errors?.['required']">{{label}} is required</span>

        <!-- Pattern control check -->
        <div *ngIf="controlDir.control.errors?.['pattern']">{{patternErrorMessage}}</div>

        <!-- Min Length control check -->
        <div *ngIf="controlDir.control.errors?.['minlength']">{{label}} should be at least 3 charaters long</div>
    </div>

     <!-- Asynchornous Error Messages -->
    <div *ngIf="(
        controlDir.control &&
        !controlDir.control.valid &&
        controlDir.control.dirty
        )" class="invalid-feedback d-block mb-2">

        <!-- Email taken control check -->
        <div *ngIf="controlDir.control.errors?.['emailExists']">{{label}} is already in use</div>

    </div>
</div>