<header>
    <span>
        Showing 
        <strong>
            {{pageSize && pageIndex && (pageIndex - 1) * pageSize + 1}} 
            - 
            {{totalCount && pageSize && pageIndex && (pageSize * pageIndex) > totalCount
                ? totalCount
                : pageSize && pageIndex && (pageSize * pageIndex)}}
        </strong>
            of 
            <strong>{{totalCount}}</strong>
    </span>
    <span *ngIf="products && products.length === 0">
        There are <strong>0</strong> results for this filter
    </span>
</header>