<nav>
    <ul class="pagination">
        <li class="page-item" (click)="currentPage > 0 && onPageChanged(currentPage - 1)">
            <a style="cursor: pointer;" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let page of totalPages" [class.active]="currentPage === page" class="page-item" (click)="onPageChanged(page)">
            <a style="cursor: pointer;" class="page-link">{{page}}</a>
        </li>
        <li class="page-item" (click)="currentPage < totalPages.length && onPageChanged(currentPage + 1)">
            <a style="cursor: pointer;" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>